
<div class="container-fluid mine">
    <div class="row">
        <div class="col-md-3 ">

            <h1>My Search </h1>
        </div>
        <div class="col-md-3 mt-2">
            
        </div>

        <div class="col-md-3">


        </div>
        <div class="col-md-3 " >
            <a routerLink="/profile">
                <button class="btn btn-info mx-2 mt-2">Home</button>
            </a>

            <a routerLink="/searchUser">

                <button class="btn btn-info mx-2 mt-2">User</button>

            </a>
            <a routerLink="searchRepos">

                <button id="reposbtn" class="btn btn-info mx-2 mt-2">Repositories</button>

            </a>
        </div>


    </div>
</div>